body, html {
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
}

.table {
  margin-top: 50px;
}

.display-4 {
  margin-top: 50px;
  font-weight: bold;
  font-size: 48px;
}

th {
  text-align: center;
}

td {
  text-align: center;
}

h5 {
  margin: 50px 0px;
  font-size: 17px;
}

@media all and (max-width: 992px) {
  .display-4 {
    font-size: 34px;
  }
}

@media all and (max-width: 768px) {
  .display-4 {
    font-size: 25px;
  }
}

@media all and (max-width: 540px) {
  td {
    font-size: 13px;
  }
  .display-4 {
    font-size: 17px;
  }
}

@media all and (max-width: 320px) {
  th {
    font-size: 10px;
  }
  td {
    font-size: 10px;
  }
  .display-4 {
    font-size: 15px;
  }
}
