<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
        integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">

    <link href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" rel="stylesheet">

    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <title>Ситуация с лабами</title>
</head>

<body>
    <header>

    </header>

    <section id="app">
        <div class="container">

            <div v-if="isPopUpvisible" @click="closePopUp" class="pop-up">
                <div class="pop-up__body">
                    <div class="pop-up__head d-flex">
                        Внимание , внимание !!!
                        <i class="fas fa-times-circle ml-auto"></i>
                    </div>

                    <div class="pop-up__desc">
                        Якшо ви сімейная людина , або проста звичайна , як Я , або мій товариш Данило , пропоную вам ,
                        вірішити лабараторні роботи з різних предметів. Насамперед , обов'язково та терміново вирішити
                        питання з Мпс та Трпз . Також якшо ви маєте гроші та вони вам не потрібні , можете скинути нам ,
                        але це як захочете , лаби важливіше ! Дякую...
                    </div>
                </div>
            </div>

            <h1 class="display-4">Ситуация Данилы и Витали в универе</h1>
            <table class="table">
                <thead class="thead-dark">
                    <tr>
                        <th v-for="(tittle,index) in headerBars" :key="index" scope="col">{{tittle.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(subject,index) in subjects" :key="index">
                        <th scope="row">{{subject.number}}</th>
                        <td class="subject__name">{{subject.name}}</td>
                        <td>{{subject.danilsResults}} / {{subject.all}} </td>
                        <td>{{subject.vitasResults}} / {{subject.all}} </td>

                    </tr>

                    <tr class="allLabs">
                        <th scope="row"></th>
                        <td class="subject__name">Всего сделано</td>
                        <td> {{sumOfLabs("danilsResults")}} / {{sumOfLabs("all")}} </td>
                        <td> {{sumOfLabs("vitasResults")}}/ {{sumOfLabs("all")}} </td>

                    </tr>
                </tbody>
            </table>

            <h5>Сделанные лабы по дням</h5>

            <table class="table">
                <thead class="thead-light">
                    <tr>
                        <th v-for="(tittle,index) in daysBars" :key="index" scope="col">{{tittle.label}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="(day,index) in daysLabs" :key="index">
                        <th scope="row">{{day.date}}</th>
                        <td class="subject__name">{{day.subject}}</td>
                        <td>{{day.danilsResults}} </td>
                        <td>{{day.vitasResults}} </td>

                    </tr>

                </tbody>
            </table>



        </div>

    </section>

    <footer>

    </footer>


    <script>
        var app = new Vue({
            el: '#app',
            data: {
                sumCount: 0,
                isPopUpvisible: false,
                message: '#',
                headerBars: [{
                        label: "#"
                    },
                    {
                        label: "Предмет"
                    },
                    {
                        label: "Данил"
                    },
                    {
                        label: "Виталий"
                    },
                ],

                subjects: [{
                        number: "1",
                        name: "Тау",
                        danilsResults: "6",
                        vitasResults: "7",
                        all: "9"
                    },
                    {
                        number: "2",
                        name: "Системна Інженерія",
                        danilsResults: "8",
                        vitasResults: "10",
                        all: "15"
                    },
                    {
                        number: "3",
                        name: "МПС",
                        danilsResults: "4",
                        vitasResults: "4",
                        all: "5"
                    },
                    {
                        number: "4",
                        name: "ТРПЗ",
                        danilsResults: "2",
                        vitasResults: "0",
                        all: "7"
                    },
                    {
                        number: "5",
                        name: "Зображення даних ",
                        danilsResults: "7",
                        vitasResults: "7",
                        all: "7"
                    },
                    {
                        number: "6",
                        name: "БлокЧейн",
                        danilsResults: "5",
                        vitasResults: "5",
                        all: "5"
                    },
                    {
                        number: "7",
                        name: "Мікро Процесори",
                        danilsResults: "7",
                        vitasResults: "7",
                        all: "9"
                    }

                ],

                daysBars: [{
                        label: "Дата"
                    },
                    {
                        label: "Предмет"
                    },
                    {
                        label: "Данил"
                    },
                    {
                        label: "Виталий"
                    },
                ],

                daysLabs: [{
                        date: "11.11.20",
                        subject: "БлокЧейн",
                        danilsResults: "1",
                        vitasResults: "1"

                    },
                    {
                        date: "",
                        subject: "Системна Інженерія",
                        danilsResults: "2",
                        vitasResults: "1"

                    },



                    {
                        date: "23.11.20",
                        subject: "Tay",
                        danilsResults: "1",
                        vitasResults: "1"

                    },
                    {
                        date: "",
                        subject: "Мпс",
                        danilsResults: "1",
                        vitasResults: "0"

                    },

                    {
                        date: "24.11.20",
                        subject: "Системна Інженерія",
                        danilsResults: "1",
                        vitasResults: "1"

                    },

                    {
                        date: "26.11.20",
                        subject: "Блокчейн",
                        danilsResults: "1",
                        vitasResults: "1"

                    },

                    {
                        date: "27.11.20",
                        subject: "Мікро Процесори",
                        danilsResults: "2",
                        vitasResults: "2"

                    },

                    {
                        date: "28.11.20",
                        subject: "МПС",
                        danilsResults: "0",
                        vitasResults: "2"

                    },

                    {
                        date: "29.11.20",
                        subject: "Tay",
                        danilsResults: "0",
                        vitasResults: "1"

                    },

                    {
                        date: "30.11.20",
                        subject: "Зображення даних",
                        danilsResults: "1",
                        vitasResults: "1"

                    },

                    {
                        date: "01.12.20",
                        subject: "Мікро Процесори",
                        danilsResults: "2",
                        vitasResults: "2"

                    }

                ],


            },
            methods: {
                closePopUp(event) {
                    let popup = document.querySelector(".pop-up");
                    let close = document.querySelector(".fa-times-circle");

                    if (event.target == popup || event.target == close) {
                        document.body.style.overflow = "auto"
                        this.isPopUpvisible = false
                    }
                },

                sumOfLabs(nameOf) {
                    //let result = String(nameQ);

                    let vm = this;
                    let count = null;
                    for (var i = 0; i < 7; i++) {
                        count += Number(this.subjects[i][nameOf])
                    }
                    return count
                }
            },
            mounted() {
                this.sumOfLabs("danilsResults");
            }
        })
    </script>




</body>

</html>